{% extends "core/base.html" %}
{% block title %}Профиль — DjangoMart{% endblock %}

{% block content %}
  <h2 class="mb-3">Профиль</h2>
  <div class="card">
    <div class="card-body">
      <p><strong>Пользователь:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      {% if user.phone %}<p><strong>Телефон:</strong> {{ user.phone }}</p>{% endif %}
      <a class="btn btn-outline-primary" href="{% url 'password_change' %}">Сменить пароль</a>
    </div>
  </div>
{% endblock %}